# Pandas Basics

## Series
-adds labeled index

In [2]:
import numpy as np
import pandas as pd

In [4]:
# help(pd.Series)

In [6]:
myindex = ['USA','Canada','Mexico']
mydata=[1776,1867,1821]

In [16]:
myser=pd.Series(mydata,myindex)

In [13]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [15]:
myser['USA']

1776

In [17]:
ages={'Sam':18,'Frank':19,'Harry':20}

In [18]:
pd.Series(ages)

Sam      18
Frank    19
Harry    20
dtype: int64

In [19]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [20]:
sales_q1=pd.Series(q1)

In [21]:
sales_q2=pd.Series(q2)

In [22]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [23]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [24]:
sales_q1['Japan']

80

In [25]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [26]:
sales_q1 *2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [27]:
sales_q1 /100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [28]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [29]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [30]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [33]:
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64