In [20]:
import numpy as np
import pandas as pd

In [21]:
df=pd.read_csv('tips.csv')

In [4]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251

In [5]:
def last_four(num):
    return str(num)[-4:] 

last_four(123456789)

'6789'

In [9]:
df['last_four']=df['CC Number'].apply(last_four)
df.last_four

0      3410
1      9230
2      1322
3      5994
4      7221
       ...
239    2842
240    5404
241    7196
242    0950
243    8139
Name: last_four, Length: 244, dtype: object

In [11]:
df['total_bill'].mean()

19.78594262295082

In [13]:
def yelp(price):
    if price < 10:
        return '$'
    elif price >=10 and price < 30:
        return '$$'
    else:
        return '$$$'

In [18]:
df['yelp']=df['total_bill'].apply(yelp)
df.yelp

0      $$
1      $$
2      $$
3      $$
4      $$
       ..
239    $$
240    $$
241    $$
242    $$
243    $$
Name: yelp, Length: 244, dtype: object

In [19]:
## On Multiple Columns

In [24]:
lambda num:num*2
simple(2)

4

In [26]:
df['total_bill'].apply(lambda num:num*2)

0      33.98
1      20.68
2      42.02
3      47.36
4      49.18
       ...
239    58.06
240    54.36
241    45.34
242    35.64
243    37.56
Name: total_bill, Length: 244, dtype: float64

In [27]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251

In [29]:
def quality(total_bill,tip):
    if tip/total_bill > 0.25:
        return "Generous"
    else:
        return 'Other'

In [31]:
df['Quality']=df[['total_bill','tip']].apply(lambda df: quality(df['total_bill'],df['tip']),axis=1)

In [36]:
#np vectorize transforms function which are not numpy aware

df['Quality'] = np.vectorize(quality)(df['total_bill'],df['tip'])

In [37]:
import timeit

In [44]:
setup= '''
import numpy as np
import pandas as pd

df=pd.read_csv("tips.csv")
def quality(total_bill,tip):
    if tip/total_bill > 0.25:
        return "Generous"
    else:
        return "Other"
'''

In [45]:
stmt_one='''
df['Tip Quality']=df[['total_bill','tip']].apply(lambda df: quality(df['total_bill'],df['tip']),axis=1)
'''
stmt_two ='''
df['Tip Quality'] = np.vectorize(quality)(df['total_bill'],df['tip'])
'''

In [46]:
timeit.timeit(setup=setup,stmt=stmt_one,number=1000)

2.4944476999808103

In [48]:
timeit.timeit(setup=setup,stmt=stmt_two,number=1000)

0.25674950002576225